.starting_div {

    background-color: rgb(38, 59, 94);

}

nav div img {

    margin-left: 65px;

}

.navbar div ul li {

    padding-left: 30px;

}

.navbar div ul {

    padding-left: 153px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}

.navbar div ul button {

    font-weight: 600;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.navbar div ul li a {

    color: white;

}

.navbar div ul ul li a {

    color: black;

}

.main_heading {

    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.body_main_div {

    padding-top: 20px;
    background-color: rgb(38, 59, 94);
    height: 1000px;
}

.subheading {

    margin-top: 80px;
    padding-left: 85px;
    color: white;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 2px;

}

.subheading::before {

    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #ff1949;

}

.body_sub_div1 {

    padding-left: 85px;
    color: white;

}

.body_sub_div2 {

    padding-bottom: 180px;

}

.h2_1 {


    font-weight: 600;

}

.h6_1 {

    font-weight: 400;
    line-height: 40px;
    margin-top: 30px;

}

.div_button {

    width: 190px;
    height: 60px;
    margin-top: 30px;
    font-weight: 600;

}

.oray_box {

    width: 1100px;
    height: 250px;
    background-color: #ff1949;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: -130px;
    position: relative;
    padding-top: 60px;
    padding-left: 80px;
}

.oray_box div h3 {

    font-size: 36px;
    font-weight: 700;

}

.oray_box_text {

    padding-top: 25px;

}

.oraybox_button_div {

    padding-top: 25px;

}

.brochure_button {

    border-radius: 20px;
    background-color: rgb(38, 59, 94);
    text-decoration: none;
    color: white;
    width: 230px;
    height: 40px;

}

.text_comb_div {

    text-align: center;
    height: 230px;
    width: 100%;
    margin-top: 50px;


}

.text_comb_div span {

    color: #ff1949;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;


}

.text_comb_div h2 {
    padding-top: 30px;
    font-weight: 650;

}

.courses_div {

    display: flex;
    align-items: center;
    justify-content: center;

}

.box_div {

    height: 200px;
    width: 196px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(146, 184, 255, .2);

}

.box_div:hover {

    transform: scale(1.1);

}

.box_div h4 {

    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 20px;

}

#explore_course_id {

    height: 650px;
    width: 100%;
    margin-top: 100px;

}

.image_fluid {

    width: 500px;
    height: auto;
    margin-top: 30px;

}

.explore_internship_main_div div ul {

    margin-top: 30px;

}

.explore_internship_main_div div ul li span {

    font-size: 20px;
    font-weight: 600;
    color: #ff1949;

}

.explore_course_span {

    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;

}

.explore_course_span:before {

    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    background: #ff1949;
    margin-top: 8px;
    right: 0;
    left: 0;

}

.explore_internship_main_div div div h3 {

    font-weight: 700;
    line-height: 1.2;
    font-size: 36px;
    color: #07294d;

}

.explore_internship_main_div_subdiv {

    padding-left: 30px;

}

div div ul {

    list-style-type: none;

}

.explore_course_p {

    color: #535967;
    font-family: sans-serif;
    line-height: 28px;
    font-size: 16px;

}

.button_ul {

    background: #ff1949;
    color: #fff;
    font-weight: 700;
    position: relative;
    padding: 16px 30px;
    border-radius: 5px;
    font-size: 16px;

}

.fa-check:before {

    content: "\f00c";

}

.logo_div {

    height: 450px;

}

.logo_div div div i {

    font-size: 2.25em;
    line-height: .05em;
    vertical-align: -0.075em;
    color: #ff1949;

}

.logo_div div div h4 {

    font-weight: 700;
    line-height: 4;

}

.logo_div div div p {

    line-height: 28px;
    font-size: 16px;

}

.card_design {

    transition-duration: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(146, 184, 255, .2);
    border-radius: 10px;
    color: #07294d;
    padding: 30px;

}

.card_design:hover {

    background-color: #ff1949;
    color: white;
    transform: scale(1.07);

}

.card_design:hover i {

    color: rgb(249, 232, 232);

}

.placed_div {

    height: 650px;
    background-color: rgb(248, 243, 235);
    color: #07294d;
    padding-top: 50px;

}

.placed_div div span {

    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 80px;
    display: inline-block;

}

.placed_div div span:before {

    content: "";
    width: 30px;
    height: 2px;
    background: #ff1949;
    right: 0;
    left: 0;
    display: inline-block;
    margin-bottom: 3px;

}

.placed_div div h3 {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 80px;

}

.placed_div div div button {

    background: #ff1949;
    color: #fff;
    float: right;
    padding: 15px 30px;
    font-weight: 600;
    font-size: larger;

}

.placement_row_div {

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.placed_stud_div {

    background-color: white;
    text-align: center;
    padding: 25px;
    height: 360px;
    width: 250px;
    margin: 0px 10px;
    transition-duration: 0.3s;

}

.placed_stud_div p {

    color: #ff1949;

}

.placed_stud_div:hover {

    transform: scale(1.07);

}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.number_effect_div {

    height: 400px;
    background-color: #ff1949;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.number_effect {
    transition: --num 2s;
    counter-set: num var(--num);
    font: 800 50px system-ui;
    color: white;
}

.number_effect::after {
    content: counter(num)'+';
}

.no-plus::after {
    content: counter(num);
}

.number_effect_div div div div i {

    font-size: 70px;
    color: white;

}

.hiring_partners {

    height: 450px;

}

.hiring_partners_sub {

    text-align: center;
    margin-top: 60px;

}

.hiring_partners_sub span {

    font-size: 13px;
    color: #ff1949;
    font-weight: 600;
    letter-spacing: 2px;

}

.hiring_partners_sub h2 {

    font-size: 36px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.3;

}

.hiring_partners div div {

    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px;

}

#row_id {

    border: solid 1px;
    border-radius: 2px;
    border-color: #07294d;

}

.accreditation_div {

    text-align: center;
    height: 550px;

}

.accreditation_div span {

    font-size: 13px;
    color: #ff1949;
    font-weight: 600;
    letter-spacing: 2px;

}

.accreditation_div h3 {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: #07294d;

}

.accreditation_div h3 {
    position: relative;
}

.accreditation_div h3::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 40px;
    height: 2px;
    bottom: -20px;
    margin: 0 auto;
    background: #ff1949;
}

.accreditation_div p {

    margin-top: 50px;
    color: #535967;
    font-family: Muli, sans-serif;
    line-height: 28px;
    font-size: 16px;

}

#row_id_2 {

    border: solid 1px;
    border-radius: 2px;
    border-color: #07294d;
    margin-top: 70px;
    padding: 20px;

}

.blog_main_div {

    height: 720px;

}

.blog_div {

    text-align: center;
    height: 550px;

}

.blog_div span {

    font-size: 13px;
    color: #ff1949;
    font-weight: 600;
    letter-spacing: 2px;

}

.blog_div h3 {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: #07294d;

}

.blog_div h3 {
    position: relative;
}

.blog_div h3::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 40px;
    height: 2px;
    bottom: -20px;
    margin: 0 auto;
    background: #ff1949;
}

.blog_div p {

    margin-top: 50px;
    color: #535967;
    font-family: Muli, sans-serif;
    line-height: 28px;
    font-size: 16px;

}

.blog_div_card_div {

    margin-top: 70px;

}

.card_class {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_class .btn {

    align-self: flex-end;
    margin-top: auto;

}

.card_class div {

    text-align: start;
    padding-right: 15px;
    padding-left: 15px;

}

.card_class div div span {

    font-size: 16px;
    color: #535967;
    letter-spacing: 0px;
    font-weight: 400;

}

.card_class div div i {

    color: #ff1949;

}

.card_class div h2 {

    font-size: 20px;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 20px;

}

.card_class div a {

    padding: 11px 24px;
    background: #ff1949;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    font-size: 16px;

}

.card_class {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_class .btn {

    align-self: flex-end;
    margin-top: auto;

}

#btn_id_3 {

    margin-top: 28px;

}

.footer {

    height: 400px;
    background-color: black;
    color: white;

}

.footer div {

    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.footer_col_div h2 {

    font-size: 22px;

}

.footer_col_div p {

    line-height: 28px;
    font-size: 16px;
}

.ul_inside_div a {

    color: white;
    font-size: 20px;

}

#ul_inside_div_id {

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;


}

#ul_inside_div_id a {

    padding-left: 5px;

}

.ul_class {

    padding-left: 0px;

}

#footer_col_div_id li {

    text-decoration: none;
    color: white;

}

#footer_col_div_id h2 {

    text-decoration: none;
    color: white;
    font-size: 22px;


}

#footer_col_div_id li a {

    text-decoration: none;
    color: red;

}

#footer_col_div_id li i {

    color: red;
    margin-right: 10px;

}

.footer_col_div li {

    line-height: 38px;
    font-size: 16px;

}

#footer_col_div_id {

    margin-bottom: 20px;
    color: #ff1949;
    line-height: 30px;

}

#footer_col_div_id a {

    color: #ff1949;

}

.sub_footer {

    height: 100px;
    padding-top: 20px;

}

.dataroots_span {

    color: red;

}

.sub_footer div div div p {

    color: #07294d;
    text-align: center;
    margin-top: 20px;
}